################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/pos-tech-fcg-infrastructure/CopilotIndices/18.0.988.22099
/.vs
.[Ee]nv
/**/.env