# Database
DB_USER=postgres
DB_PASSWORD=postgres123

DB_USER_HOST=postgres-user
DB_USER_DBNAME=fcg_user_db
DB_USER_PORT=5432

DB_CATALOG_NAME=fcg_catalog_db
DB_CATALOG_HOST=postgres-catalog
DB_CATALOG_PORT=5433

DB_PAYMENT_NAME=fcg_payment_db
DB_PAYMENT_HOST=postgres-payment
DB_PAYMNENT_PORT=5434

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# APIs
ASPNETCORE_ENVIRONMENT=Development
CATALOGAPI_PORT=8081
USERAPI_PORT=8082

# JWT
JWT_SECRET_KEY=seu-secret-key-super-seguro-aqui-com-minimo-32-caracteres
JWT_ISSUER=FCG.API
JWT_AUDIENCE=FCG.WebApp
JWT_EXPIRY_MINUTES=60

# pgAdmin
PGADMIN_EMAIL=admin@fcg.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050